html {
    background-color: #e6e9e9;
    background-image: -webkit-linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    background-image: linear-gradient(270deg,rgb(230,233,233) 0%,rgb(216,221,221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    background-color: #ffffff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3em;
    text-align: center
}

h2 {
    margin-top: 1.3em;
}

p {
    text-align: justify;
}

a {
    color: #0083e8;
    text-align: center;
}
    
a:link {
    text-decoration: none;
    text-align: center;
}

a:visited {
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
    text-align: center;
    
}

a:active {
    text-decoration: underline;
    text-align: center;
    
}

img {
    margin: 0px auto;
    display:block
}